/*
  Aplica atributos al código html que haga referencia a este archivo .css3
*/


/*
  Selector universal: Afecta a todos los elementos de la página
*/
* {
   margin: 5px;
   padding: 2px; */
}


/* Afecta a todos los <body> */
body {
   background-color: linen;
}

/*
  Afecta a cualquier elemento con class="destacado"
*/
.destacado {color: blue;}

/*
  Afecta solo a los <p class="destacado">
*/
p.destacado {text-decoration: underline;}

/*
  Afecta a todos los elementos dentro de un <p> que tengan class="destacado"
*/
p .destacado {font-size: 15px;}

/*
  Afecta a todos los elementos <p> y a todos los que tengan class="destacado"
*/
p, .destacado {font-weight: bold;}


/*
  Afecta a cualquier elemento con id="destacado"
*/
#destacado {color: red;}

/*
  Afecta solo a los <p id="destacado">
*/
p#destacado {color: blue;}

/* etc. Same as '.' (dot) */
